name: Read YAML Config

on:
  workflow_call:
    inputs:
      file_name:
        required: true
        type: string
    outputs:
      resource_group:
        description: "Resource group name"
        value: ${{ jobs.read.outputs.resource_group }}
      aml_workspace:
        description: "Workspace name"
        value: ${{ jobs.read.outputs.aml_workspace }}
jobs:
  read:
    runs-on: ubuntu-latest
    outputs:
      resource_group: ${{ steps.extract.outputs.resource_group }}
      aml_workspace: ${{ steps.extract.outputs.aml_workspace }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Debug file path
        run: |
          echo "Current working directory:"
          pwd
          echo "Listing contents of workspace:"
          ls -R ${{ github.workspace }}

      - name: Read YAML file
        id: extract
        uses: mikefarah/yq@v4
        with:
          cmd: |
            echo "::set-output name=resource_group::$(yq '.variables.resource_group' ${{ inputs.file_name }})"
            echo "::set-output name=aml_workspace::$(yq '.variables.aml_workspace' ${{ inputs.file_name }})"


